.header, .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  list-style: none;
}

.menu li, .logo {
  padding: 0.6em 1em 0 1em;
}

.logo img {
  width: 25px;
}
